m-button {
  display: inline-flex;
}

m-button:focus {
  outline: none;
}

m-button[hidden] {
  display: none;
}

m-button m-spinner {
  margin: auto;
}

m-button button {
  align-items: center;
  background: var(--m-color-gray);
  border: 1px solid transparent;
  border-radius: var(--m-radius-small);
  color: #fff;
  display: flex;
  outline: none;
  transition: all var(--m-animation-duration);
  width: 100%;
}

m-button button:disabled {
  background: var(--m-color-gray-light);
  color: var(--m-color-text-light);
  cursor: not-allowed;
}

m-button:not([disabled]):not([readonly]) button:hover {
  background: var(--m-color-gray-alt);
}

m-button:not([disabled]):not([readonly]) button:active {
  background: var(--m-color-gray-darker);
}

m-button:not([disabled]):not([readonly]) button:focus {
  border-color: white;
  box-shadow: 0 0 0 1px var(--m-color-gray), inset 0 0 0 1px var(--m-color-gray);
}

m-button[intent='primary']:not([disabled]) button {
  background: var(--m-color-primary);
}

m-button[intent='primary']:not([disabled]):not([readonly]) button:hover {
  background: var(--m-color-primary-alt);
}

m-button[intent='primary']:not([disabled]):not([readonly]) button:active {
  background: var(--m-color-primary-darkalt);
}

m-button[intent='primary']:not([disabled]):not([readonly]) button:focus {
  border-color: #fff;
  box-shadow: 0 0 0 1px var(--m-color-primary), inset 0 0 0 1px var(--m-color-primary);
}

m-button[intent='primary'][variant='ghost']:not([disabled]) button {
  background: transparent;
  border-color: transparent;
  color: var(--m-color-primary);
}

m-button[intent='primary'][variant='ghost']:not([disabled]):not([readonly]) button:active,
m-button[intent='primary'][variant='ghost']:not([disabled]):not([readonly]) button:hover,
m-button[intent='primary'][variant='ghost']:not([disabled]):not([readonly]) button:focus {
  box-shadow: none;
  color: var(--m-color-primary-dark);
}

m-button[intent='primary'][variant='outline']:not([danger]):not([disabled]) button {
  background: #fff;
  color: var(--m-color-primary);
}

m-button[intent='danger']:not([disabled]) button {
  background: var(--m-color-danger);
  border-color: var(--m-color-danger);
}

m-button[intent='danger']:not([disabled]):not([readonly]) button:hover {
  background: var(--m-color-danger-dark);
}

m-button[intent='danger']:not([disabled]):not([readonly]) button:active {
  background: var(--m-color-danger-dark);
}

m-button[intent='danger']:not([disabled]):not([readonly]) button:focus {
  border-color: #fff;
  box-shadow: 0 0 0 1px var(--m-color-danger), inset 0 0 0 1px var(--m-color-danger);
}

m-button[intent='danger'][variant='ghost']:not([disabled]) button {
  background: transparent;
  border-color: transparent;
  color: var(--m-color-danger);
}

m-button[intent='danger'][variant='ghost']:not([disabled]):not([readonly]) button:active,
m-button[intent='danger'][variant='ghost']:not([disabled]):not([readonly]) button:hover,
m-button[intent='danger'][variant='ghost']:not([disabled]):not([readonly]) button:focus {
  box-shadow: none;
  color: var(--m-color-danger-dark);
}

m-button[intent='danger'][variant='outline']:not([disabled]) button {
  background: #fff;
  color: var(--m-color-danger);
}

m-button[size='tiny'] button {
  border-radius: var(--m-radius-small);
  font-size: var(--m-font-tiny);
  line-height: var(--m-line-tiny);
  padding: 0 var(--m-spacing-tiny);
}

m-button[size='mini'] button {
  border-radius: var(--m-radius-small);
  font-size: var(--m-font-mini);
  line-height: var(--m-line-mini);
  padding: var(--m-spacing-tiny) var(--m-spacing-mini);
}

m-button[size='small'] button {
  border-radius: var(--m-radius-small);
  font-size: var(--m-font-small);
  line-height: var(--m-line-small);
  padding: var(--m-spacing-tiny) var(--m-spacing-small);
}

m-button button,
m-button[size='medium'] button {
  font-size: var(--m-font-medium);
  line-height: var(--m-line-medium);
  padding: var(--m-spacing-mini) var(--m-spacing-small);
}

m-button[size='large'] button {
  font-size: var(--m-font-large);
  line-height: var(--m-line-large);
  padding: var(--m-spacing-mini) var(--m-spacing-medium);
}

m-button[loading] button {
  cursor: default;
  opacity: 0.65;
}

m-button[variant='ghost'][disabled] button {
  background: none;
  border-color: transparent;
}

m-button[variant='ghost']:not([disabled]) button {
  background: transparent;
  border-color: transparent;
  color: var(--m-color-text);
}

m-button[variant='ghost']:not([disabled]):not([readonly]) button:active,
m-button[variant='ghost']:not([disabled]):not([readonly]) button:hover,
m-button[variant='ghost']:not([disabled]):not([readonly]) button:focus {
  box-shadow: none;
  color: var(--m-color-text-dark);
}

m-button[variant='ghost']:not([disabled]):not([readonly]) button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

m-button[variant='outline'][disabled] button {
  background: none;
}

m-button[variant='outline']:not([disabled]) button {
  background: #fff;
  color: var(--m-color-text);
}
