m-spinner {
  --m-size: var(--m-spinner-size, 1em);
  --m-border: calc(var(--m-size) * 0.15);
}

m-spinner {
  display: inline-block;
}

m-spinner .spinner {
  position: relative;
}

m-spinner .spinner,
m-spinner .spinner:after,
m-spinner .spinner:before {
  border-radius: 50%;
  width: var(--m-size);
  height: var(--m-size);
}

m-spinner .spinner:after,
m-spinner .spinner:before {
  box-sizing: border-box;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: calc(var(--m-size) / -2);
  margin-left: calc(var(--m-size) / -2);
}

m-spinner .spinner:after {
  animation: spinner 0.6s linear infinite;
  border: var(--m-border) solid transparent;
  border-top-color: inherit;
}

m-spinner .spinner:before {
  border: var(--m-border) solid inherit;
  opacity: 0.1;
}

m-spinner[size='tiny'] {
  --m-size: 0.75rem;
}

m-spinner[size='mini'] {
  --m-size: 0.85rem;
}

m-spinner[size='small'] {
  --m-size: 1rem;
}

m-spinner[size='large'] {
  --m-size: 1.75rem;
}

m-spinner[size='big'] {
  --m-size: 2.5rem;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
